a{
  margin: 5px;
  color: var(--dark-jungle-green);
}

.active{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  background-color: var(--cambridge-blue);
  color: var(--air-superiority-blue);
}

.not{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
  padding: 15px;
  background-color: var(--pink-lace);
  color: var(--pink-lace);

}



